@import '../vars.css';

.Container{
    margin-left: 115px;
    background-color: var(--color-dark);
    margin-right: 100px;
}
.container{
    margin-top: 40px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 30px;
    font-weight: 700;
    padding-left: 70px;
    padding-top: 40px;
}

.Image{
    width: 25%;
}
.content{
    font-family: var(--font-roboto);
    padding-right: 20px;
    margin-left: 30px;
}
.h1{
    font-size: 25px;
    font-weight: 600;
}
.p{
    font-size: 20px;
    font-weight: 400;
}
.div{
    margin-top: 20px;
    background: linear-gradient(to right, rgba(165, 215, 232, 0.1), rgba(255, 255, 255, 0));
}