@import "../vars.css";

.navbar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 60px;
    margin: 0 10%;
}
.title{
    font-size: 35px;
    font-weight: 650;
    color: var(--color-text);
}
.menuItems{
    display: flex;
    gap: 45px;
}
.li{
    font-size: 20px;
    font-weight: 570;
    font-family: var(--font-Roboto);
}