@import "tailwindcss";
@import "./vars.css";

.App{
    background-color: var(--color-bg);
    height: 100%;
    width: 100%;
    color: var(--color-text);
    overflow-y: scroll;
    /* height: 100vh; */
}